<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Search Books</title>
    <meta name="description" content="Help you search main books on itebooks.net">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
  </head>
  <body ng-app="SearchBook">
    <div ng-controller="search" class="container">
      <h3>Search a Book</h3>
      <form ng-submit="searchBook()" role="form">
        <div class="form-group mini-search">
          <label for="nameBook">Name Book</label>
          <input id="nameBook" ng-model="nameBook" type="text" placeholder="ejem: javascript" class="form-control">
        </div>
        <div class="form-group btn-mini-search">
          <button type="submit" class="btn btn-default">Buscar</button>
        </div>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Portrait</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="book in books">
            <td><img src="{{book.Image}}" alt="{{book.Title}}" width="100"></td>
            <td> <strong>{{book.Title}}</strong><span>{{book.SubTitle}}</span></td>
            <td>{{book.Description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>